<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Great Number Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <main>
      <h1>Welcome to number game!</h1>
      <h2>Guess a number between 1 and 100</h2>
      {% if request.session.guess == 'high' %}
      <div class="high"><h2>Too High!</h2></div>
      {% elif request.session.guess == 'low' %}
      <div class="low"><h2>Too Low!</h2></div>
      {% elif request.session.guess == 'correct' %}
      <div class="correct">
        <h2>{{request.session.number}} was the number!</h2>
        <h3>It took {{request.session.tries}} tries!</h3>
        <button><a href="/reset">Play Again!</a></button>
      </div>
      <form action="/winner" method="post">
        {%csrf_token%}
        <label for="name">Please enter your name: </label>
        <input type="text" name="name" id="name" />
        <button>Submit</button>
      </form>
      {% elif request.session.guess == 'wrong' %}
      <div class="lose">
        <h2>You lose</h2>
        <h3>You exceeded 5 tries!</h3>
        <button><a href="/reset">Play Again!</a></button>
      </div>
      {% endif %} 
      {% if not 'guess' in request.session or request.session.guess != 'correct' and request.session.guess != 'wrong'%}
      <form action="/guess" method="post">
        {%csrf_token%}
        <div>
          <input type="number" name="guess" id="guess" max="100" min="1" />
        </div>
        <button>Submit</button>
      </form>
      {% endif %}
    </main>
  </body>
</html>
