<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>{{author.first_name}} {{author.last_name}}</title>
  </head>
  <body>
    <main>
      <h3>{{author.first_name}} {{author.last_name}}</h3>
      <p>ID: {{author.id}}</p>
      <p>Description: {{author.notes}}</p>
      Books:
      <ul>
        {%for book in author.books.all%}
        <li>{{book.title}}</li>
        {%endfor%}
      </ul>
      <form action="/add/book/{{author.id}}" method="post">
        {%csrf_token%}
        <select name="book" id="Book">
          {%for book in books%} 
          {%if not book in author.books.all%}
          <option value="{{book.id}}">
            {{book.title}}
          </option>
          {%endif%} 
          {%endfor%}
        </select>
        <button>Add</button>
      </form>
    </main>
  </body>
</html>
