<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{user.name}}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/user_profile_style.css' %}" />
  </head>
  <body>
    <header>
      <a href="/books">Home</a>
      <a href="/books/add">Add a Book and Review</a>
      <a href="/logout">Logout</a>
    </header>
    <main>
      <h3>User Alias: {{user.alias}}</h3>
      <h4>Name: {{user.name}}</h4>
      <h4>Email: {{user.email}}</h4>
      <h4>Total Reviews: {{num_reviews}}</h4>
      <p>Posted reviews on the following books:</p>
      <ul>
        {%for book in user.books_reviewed.all%}
        <li><a href="/books/{{book.id}}">{{book.title}}</a></li>
        {%endfor%}
      </ul>
    </main>
  </body>
</html>
