* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #0c9cb2;
  text-decoration: none;
}

/* Container Styles */

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1000px;
}

/* Header Styles */

.header {
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.header-colored {
  background-color: #4e80ab;
  flex: 2;
  height: 50%;
}

.header-colored h2 {
  color: #f9fafc;
  line-height: 20px;
  padding-left: 20px;
}

.globe {
  margin-top: -65px;
  width: 80px;
}

.title {
  flex: 3;
  height: 50%;
  line-height: 100px;
  padding-left: 85px;
}

.title span {
  color: #22659e;
}
/* Main Styles */

.main {
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 30%;
}

.side-bar .definition {
  border-bottom: 2px solid silver;
  flex: 2;
  padding-bottom: 15px;
  text-align: left;
}

.definition h4 {
  margin: 20px 0 0 5px;
}

.definition p {
  margin: 20px 0 10px 5px;
}

.definition .buttons {
  padding-top: 10px;
}

.definition .buttons button {
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #a9a9a9;
  color: white;
  margin-left: 5px;
  padding: 8px 10px;
  width: 80%;
}

.definition .buttons button:first-of-type {
  background-color: #427eb0;
  margin-bottom: 5px;
}

.definition .buttons button:nth-of-type(2) {
  background-color: #ef7800;
  margin-bottom: 5px;
}

.definition h4 span {
  color: #d9231c;
}

.definition p span {
  color: #3672a6;
}

.side-bar .adv {
  flex: 3;
}

.content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.adv .advertisment {
  background: url("imgs/ad_background.png");
  background-size: contain;
  height: 40vh;
  margin-top: 25px;
  padding-top: 20px;
  text-align: center;
}

.adv .advertisment h3 {
  color: #fefefe;
  width: 50%;
  margin-left: 75px;
}

.adv .advertisment .ninja {
  width: 60px;
  margin-top: 15px;
}

.advertisment button {
  background-color: #48cadf;
  border-radius: 7px;
  border: none;
  box-shadow: 3px 3px 5px black;
  color: #ebf9fb;
  margin-top: 10px;
  padding: 5px 25px;
}

.content .contact {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}

.contact > span {
  align-items: center;
  display: flex;
  padding-bottom: 20px;
}

.contact > span a {
  color: #3370a4;
  text-decoration: none;
}

.contact span img {
  margin-right: 10px;
  width: 25px;
}

.contact .contact-info {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.contact-info span {
  font-size: 10pt;
}

.contact .contact-info img {
  padding-right: 5px;
  width: 40px;
}

.contact .contact-info div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .contact-info div h2 {
  color: #00c0df;
}

.content .client-server {
  border-top: 2px solid #b4b4b4;
  margin-top: 10px;
}

.content h3 {
  color: #22659e;
}
.content .client-server * {
  margin-top: 10px;
  margin-left: 5px;
}
.content .client-server ul {
  list-style-position: inside;
}

.content .client-server img {
  margin-left: 150px;
  padding-top: 20px;
  width: 50%;
}

.content .big-3 {
  margin-top: 10px;
}

.content .big-3 * {
  margin-top: 10px;
  margin-left: 5px;
}

.content .big-3-details {
  border: 4px solid #0085e0;
  box-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  padding-bottom: 10px;
}

.big-3-details img {
  height: 100px;
  margin-right: 30px;
  width: 100px;
}
