div {
  border: 2px solid black;
  height: 100px;
  margin: 30px auto;
  width: 300px;
}
div section {
  align-items: center;
  display: flex;
  justify-content: space-around;
  height: 50%;
}
div p {
  text-align: center;
}
div button {
  background-color: #ffd966;
  box-shadow: 4px 4px 4px black;
  padding: 5px 15px;
}
