main {
  display: flex;
  margin: 20px auto;
  width: fit-content;
}
form {
  padding: 50px;
  border: 2px solid black;
  margin: 0 20px;
  text-align: center;
}

.gold {
  margin: 30px 90px 0 90px;
}

form button {
  background-color: white;
  padding: 5px 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 2px black;
}

.textarea {
  margin: 30px 90px 0 90px;
}

.messages {
  width: 1150px;
  height: 150px;
  border: 2px solid black;
  padding: 5px 10px;
  overflow-y: scroll;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px 15px;
  margin: 30px 90px 0 90px;
  display: inline-block;
}

ul {
  transform: rotate(180deg);
}
ul > li {
  transform: rotate(-180deg);
}
