<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkerboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <main>
        {%if x and y and color1 and color2:%} 
            {%for i in range(x):%}
                <div class="row">
                {%for j in range(y):%} 
                    {%if i % 2 == 0 :%} 
                        {%if j % 2 == 0:%}
                            <div class="box_black"></div>
                        {%else:%}
                            <div class="box_red"></div>
                        {%endif%} 
                    {%else:%} 
                        {%if j % 2 != 0:%}
                            <div class="box_black"></div>
                        {%else:%}
                            <div class="box_red"></div>
                        {%endif%} 
                    {%endif%} 
                {%endfor%}
                </div>
            {%endfor%}
        {%elif x and y:%} 
            {%for i in range(x):%}
                <div class="row">
                {%for j in range(y):%} 
                    {%if i % 2 == 0:%} 
                        {%if j % 2 == 0:%}
                            <div class="box_black"></div>
                        {%else:%}
                            <div class="box_red"></div>
                        {%endif%} 
                    {%else:%} 
                        {%if j % 2 != 0:%}
                            <div class="box_black"></div>
                        {%else:%}
                            <div class="box_red"></div>
                        {%endif%} 
                    {%endif%} 
                {%endfor%}
                </div>
            {%endfor%} 
        {%elif x and not y:%} 
            {%for i in range(x):%}
                <div class="row">
                {%for j in range(8):%} 
                    {%if i % 2 == 0:%} 
                        {%if j % 2 == 0:%}
                            <div class="box_black"></div>
                        {%else:%}
                            <div class="box_red"></div>
                        {%endif%} 
                    {%else:%} 
                        {%if j % 2 != 0:%}
                            <div class="box_black"></div>
                        {%else:%}
                            <div class="box_red"></div>
                        {%endif%} 
                    {%endif%} 
                {%endfor%}
                </div>
            {%endfor%} 
        {%else:%} 
            {%for i in range(8):%}
                <div class="row">
                {%for j in range(8):%} 
                    {%if i%2==0:%} 
                        {%if j % 2 == 0:%}
                        <div class="box_black"></div>
                        {%else:%}
                        <div class="box_red"></div>
                        {%endif%} 
                    {%else:%} 
                        {%if j % 2 != 0:%}
                        <div class="box_black"></div>
                        {%else:%}
                        <div class="box_red"></div>
                        {%endif%} 
                    {%endif%} 
                {%endfor%}
                </div>
            {%endfor%} 
        {%endif%}
    </main>
    <script>
      if ({{x}} && {{y}} && '{{color1}}' && '{{color2}}'){
          document.querySelectorAll('.box_black').forEach(element=>element.style.backgroundColor='{{color1}}')
          document.querySelectorAll('.box_red').forEach(element=>element.style.backgroundColor='{{color2}}')
      }
    </script>
  </body>
</html>
